.nav-wrapper {
    background-color: #000000;
}

h1 {
    font-size: 30px;
    color: #EEEEEE;
    padding: 20px 0 0 5px;
}

.atributos p {
    font-size: 30px;
    margin: 15px 0 0 95px;
}

.dados_atributos {
    background-color: #888888;
    margin: 20px 0 0 20px;
    padding: 20px;
    width: 220px;
    height: 150px;
    border-style: solid;
    border-width: 4px;
    border-radius: 15%;
}

.pericias p {
    font-size: 30px;
    margin: 15px 0 0 95px;
}

.dados_pericias {
    background-color: #888888;
    margin: 20px 0 0 20px;
    padding: 20px;
    width: 220px;
    height: 150px;
    border-style: solid;
    border-width: 4px;
    border-radius: 15%;
}

.botoes_atributos {
    background-color: #000000;
    color: #ffffff;
    border: none;
    font-size: 20px;
    height: 70px;
    width: 70px;
    border-radius: 25px;
}

.botoes_pericias {
    background-color: #000000;
    color: #ffffff;
    border: none;
    font-size: 12px;
    height: 70px;
    width: 70px;
    border-radius: 25px; 
}